@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-header {
  background-color: #222336;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.iconpanel .anticon{
  margin-top: 1vh;
}

.iconpanel{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80px;
  user-select: none;
  height: 100vh;
}

.iconpanel img:hover{
  cursor:pointer;
}
.iconpanel img{
  margin:10px;
}


.bg-light {
  background-color: #2a2c3f !important;
}

.sidepanel {
  display: flex;
  /* flex-direction: row-reverse; */
  /* min-height: 100vh; */
  width: 80vw;
  flex-direction: column;
}

.border-left {
  border-left: 1px solid #3f4455 !important;
}

.border-right {
  border-right: 1px solid #3f4455 !important;
}

.ant-steps-vertical.ant-steps-small .ant-steps-item-container .ant-steps-item-title{
  color:white
}

.panelleft{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}

.flex-column{
  padding: 30px;
}