.App {
  text-align: center;
}

.App-header {
  background-color: #222336;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.iconpanel{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 50px;
  user-select: none;
  min-height: 100vh;
}

.bg-light {
  background-color: #2a2c3f !important;
}

.sidepanel {
  display: flex;
  /* flex-direction: row-reverse; */
  min-height: 100vh;
  width: 30%;
  flex-direction: column;
}

.border-left {
  border-left: 1px solid #3f4455 !important;
}

.border-right {
  border-right: 1px solid #3f4455 !important;
}
